Repository maplibre/maplibre-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swift

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: check-xml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-kotlin
        name: format kotlin
        args: [--autofix, --ktfmt, --ktfmt-style=google]
  - repo: local
    hooks:
      - id: prettier
        name: format markdown, json, yaml
        language: node
        entry: prettier --write
        additional_dependencies: [prettier]
        types_or: [markdown, json, yaml]
      - id: clang-format
        name: format c, c++, obj-c, obj-c++
        language: python
        additional_dependencies: [clang-format]
        entry: clang-format -i
        types_or: [c, c++, objective-c, objective-c++]
      - id: swift
        name: format swift
        language: python
        entry: python scripts/swift-format.py
        types_or: [swift]

clone submodules
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier

minor cleanup
  demo-app/build.gradle.kts
  lib/maplibre-native-bindings-jni/build.gradle.kts
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/util/SharedLibraryLoader.kt
Due: none

load all dlls for windows arm64
  iosApp/iosApp/iOSApp.swift
  lib/maplibre-native-bindings-jni/CMakeLists.txt
  lib/maplibre-native-bindings-jni/build.gradle.kts
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/util/SharedLibraryLoader.kt
Due: swift

gh actions windows core.longpaths
  .github/workflows/ci.yml
Due: prettier

ci
  .github/workflows/ci.yml
  iosApp/iosApp/iOSApp.swift
  lib/maplibre-native-bindings-jni/build.gradle.kts
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/util/SharedLibraryLoader.kt
Due: prettier, swift

longpaths?
  .github/workflows/ci.yml
Due: prettier

windows ci
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  lib/maplibre-native-bindings-jni/build.gradle.kts
Due: prettier

macos amd64 configuration fixes (fails to build)
  demo-app/build.gradle.kts
  docs/docs/getting-started.md
  lib/maplibre-native-bindings-jni/build.gradle.kts
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/util/SharedLibraryLoader.kt
Due: prettier

desktop artifacts
  .github/workflows/ci.yml
Due: prettier

tweak opengl backend
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_opengl_backend.cpp
Due: none

publishing configs (untested)
  .github/workflows/daily.yml
  .github/workflows/release.yml
  docs/docs/getting-started.md
  lib/maplibre-native-bindings-jni/build.gradle.kts
Due: prettier

tweak contributing docs
  CONTRIBUTING.md
Due: prettier

remove KCEF references
  demo-app/.gitignore
  docs/docs/getting-started.md
  docs/docs/index.md
Due: prettier

fix gradle task input/output
  lib/maplibre-native-bindings-jni/build.gradle.kts
Due: none

Enable blank issues in issue template configuration
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier

delete dead code
  lib/maplibre-native-bindings-jni/src/main/cpp/java_classes.hpp
  lib/maplibre-native-bindings/build.gradle.kts
Due: none

attempt to fix snapshot release
  .github/workflows/daily.yml
  .github/workflows/release.yml
Due: prettier

fix text size interpolation
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/SymbolLayer.kt
Due: none

clean up
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/SymbolLayer.kt
Due: none

document
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/SymbolLayer.kt
Due: none

document better
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/SymbolLayer.kt
Due: none

remove jni header
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/conversions.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jni_map_observer.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jni_map_observer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jni_on_load.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/maplibre_map.cpp
Due: none

configure clang tidy
  .clang-tidy
  .gitignore
  .vscode/settings.json
  lib/maplibre-native-bindings-jni/build.gradle.kts
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_metal_backend.mm
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/conversions.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/conversions.hpp
  scripts/swift-format.py
Due: prettier

fix remaining clang-tidy warnings
  lib/maplibre-native-bindings-jni/src/main/cpp/conversions.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/conversions.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/java_classes.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jawt_context.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jni_map_observer.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jni_map_observer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jni_on_load.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/maplibre_map.cpp
Due: none

deps are system
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

use fetchcontent instead of submodules
  .gitmodules
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

drive-by ci fix?
  .github/workflows/daily.yml
  .github/workflows/release.yml
Due: prettier

lib
  AGENTS.md
  justfile
  lib/maplibre-native-bindings-jni/CMakeLists.txt
  lib/maplibre-native-bindings-jni/CMakePresets.json
  lib/maplibre-native-bindings-jni/build.gradle.kts
Due: prettier

shallow
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

try just a vcpkg submodule and fetchcontent after project()
  .gitmodules
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

tweaks
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

clean command
  .gitmodules
  justfile
Due: none

dry up native build ci configs and cache cmake _deps
  .github/actions/setup-cmake/action.yml
  .github/actions/setup-gradle/action.yml
  .github/workflows/ci.yml
  .github/workflows/daily.yml
  .github/workflows/release.yml
Due: prettier

.
  .github/actions/setup-cmake/action.yml
Due: prettier

Add long paths configuration to CMakeLists.txt
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

rename gradle setup action
  .github/actions/setup-gradle/action.yml
  .github/workflows/ci.yml
  .github/workflows/daily.yml
  .github/workflows/release.yml
Due: prettier

dry it up
  .github/actions/setup-cmake/action.yml
  .github/workflows/ci.yml
  .github/workflows/daily.yml
  .github/workflows/release.yml
Due: prettier

oops
  .vscode/settings.json
Due: prettier

fix publishing for natives module
  lib/maplibre-js-bindings/build.gradle.kts
  lib/maplibre-native-bindings-jni/build.gradle.kts
  lib/maplibre-native-bindings/build.gradle.kts
Due: none

do not publish empty variants
  lib/maplibre-native-bindings-jni/build.gradle.kts
Due: none
