Repository maplibre/maplibre-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swift

prettier:
  name: format markdown, json, yaml
  language: node
  entry: prettier --write
  additional_dependencies:
  - prettier

swift:
  name: format swift
  language: python
  entry: python scripts/swift-format.py

Remove stale teardown comment
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none

Fixed app crash issues on jvm when the map is removed from the UI
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none

Fix desktop map removal teardown (#776)
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_metal_backend.mm
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_opengl_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none

update kotlin, agp, gradle, etc
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

update yarn.lock, suppress cross-compile warning
  gradle.properties
  kotlin-js-store/yarn.lock
Due: none

update dokka and maven publish
  gradle/libs.versions.toml
  mise.toml
Due: none

fix simplejni native bindings
  gradle/libs.versions.toml
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/java_classes.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jawt_context.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/maplibre_map.cpp
  lib/maplibre-native-bindings/build.gradle.kts
Due: none

rename manual java helpers
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_metal_backend.mm
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_opengl_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_vulkan_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/conversions.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/java_classes.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/maplibre_map.cpp
  lib/maplibre-native-bindings/build.gradle.kts
Due: none

Fix desktop map removal teardown
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/maplibre_map.cpp
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/CanvasRenderer.kt
Due: none

Fix desktop map removal teardown (#778)
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/maplibre_map.cpp
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/CanvasRenderer.kt
Due: none

avoid registering jdk double class
  lib/maplibre-native-bindings-jni/src/main/cpp/java_classes.hpp
Due: none

Fix desktop map initialization at zero size
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none

use ksp 2.3.3 for simplejni
  gradle/libs.versions.toml
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_metal_backend.mm
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_opengl_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_vulkan_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/conversions.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/java_classes.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jawt_context.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/maplibre_map.cpp
Due: none

document simplejni ksp coupling
  gradle/libs.versions.toml
Due: none

update kotlin, agp, gradle, etc (#777)
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  kotlin-js-store/yarn.lock
  mise.toml
Due: none

Fix desktop map initialization at zero size (#779)
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none

Update GitHub Actions versions
  .github/actions/run-with-avd/action.yml
  .github/actions/setup-cmake/action.yml
  .github/actions/setup-gradle/action.yml
  .github/workflows/ci.yml
  .github/workflows/daily.yml
  .github/workflows/release.yml
  mise.toml
Due: prettier

Fix iOS HarfBuzz link order
  docs/docs/getting-started.md
  gradle.properties
  iosApp/iosApp.xcodeproj/project.pbxproj
Due: prettier

Document iOS HarfBuzz link-order workaround and upgrade MapLibre iOS (#781)
  docs/docs/getting-started.md
  gradle.properties
  iosApp/iosApp.xcodeproj/project.pbxproj
Due: prettier

Update GitHub Actions versions (#780)
  .github/actions/run-with-avd/action.yml
  .github/actions/setup-cmake/action.yml
  .github/actions/setup-gradle/action.yml
  .github/workflows/ci.yml
  .github/workflows/daily.yml
  .github/workflows/release.yml
  mise.toml
Due: prettier

Fix spmForKmp 1.9 migration
  buildSrc/src/main/kotlin/spm-maplibre.gradle.kts
  buildSrc/src/main/kotlin/util.kt
  gradle/spm-empty-bridge/DummySPMFile.swift
  gradle/swift-spm-wrapper.sh
Due: swift

Avoid spmForKmp bridge scaffolding
  buildSrc/src/main/kotlin/util.kt
  gradle.properties
  gradle/spm-empty-bridge/DummySPMFile.swift
Due: swift

Use target-scoped SPM output paths
  buildSrc/src/main/kotlin/util.kt
Due: none

Remove redundant SPM convention plugin
  buildSrc/src/main/kotlin/spm-maplibre.gradle.kts
  demo-app/build.gradle.kts
  lib/maplibre-compose-material3/build.gradle.kts
  lib/maplibre-compose/build.gradle.kts
Due: none

Document SPM wrapper workaround
  gradle/swift-spm-wrapper.sh
Due: none

Update SPM setup docs
  docs/docs/getting-started.md
Due: prettier

Update Android renderer docs for MapLibre 13
  CONTRIBUTING.md
  docs/docs/getting-started.md
  gradle/libs.versions.toml
Due: prettier

build(deps): bump spmForKmp to 1.9.1
  buildSrc/src/main/kotlin/util.kt
  gradle/libs.versions.toml
  gradle/swift-spm-wrapper.sh
Due: none

build(deps): bump KSP and SimpleJNI
  gradle/libs.versions.toml
Due: none

docs: expand location module documentation with bearing and customization details
  docs/docs/location.md
Due: prettier

Extract KMP framework embedding logic to a separate shell script and improve Java lookup
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/scripts/embed-kmp-framework.sh
Due: none

build(deps): bump spmForKmp to 1.9.1 (#782)
  buildSrc/src/main/kotlin/util.kt
  gradle/libs.versions.toml
  gradle/swift-spm-wrapper.sh
Due: none

docs: expand location module documentation with bearing and customization details (#789)
  docs/docs/location.md
Due: prettier

docs: link Compose iOS HarfBuzz issue
  docs/docs/getting-started.md
Due: prettier

docs: link Compose iOS HarfBuzz issue (#791)
  docs/docs/getting-started.md
Due: prettier

Simplify Xcode Java lookup
  iosApp/scripts/embed-kmp-framework.sh
Due: none

Xcode: improve Java lookup and extract KMP framework embedding logic to a separate shell script and (#790)
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/scripts/embed-kmp-framework.sh
Due: none

build(deps): bump KSP and SimpleJNI (#783)
  gradle/libs.versions.toml
Due: none

chore: tune Dependabot dependency groups
  .github/dependabot.yml
  gradle/libs.versions.toml
Due: prettier

chore: tune Dependabot dependency groups (#793)
  .github/dependabot.yml
  gradle/libs.versions.toml
Due: prettier

Path conditions:
  prettier: any of: \.(md|markdown|mdown)$, \.json$, \.(yaml|yml)$
  swift: any of: \.swift$
