Repository maplibre/maplibre-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swift

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: check-xml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-kotlin
        name: format kotlin
        args: [--autofix, --ktfmt, --ktfmt-style=google]
  - repo: local
    hooks:
      - id: prettier
        name: format markdown, json, yaml
        language: node
        entry: prettier --write
        additional_dependencies: [prettier]
        types_or: [markdown, json, yaml]
      - id: clang-format
        name: format c, c++, obj-c, obj-c++
        language: python
        additional_dependencies: [clang-format]
        entry: clang-format -i
        types_or: [c, c++, objective-c, objective-c++]
      - id: swift
        name: format swift
        language: python
        entry: python scripts/swift-format.py
        types_or: [swift]

symlink claude.md
  CLAUDE.md
Due: prettier

link to MapLibre org AI policy in CONTRIBUTING.md and AGENTS.md
  AGENTS.md
  CONTRIBUTING.md
Due: prettier

update AI policy section wording and move it higher up
  CONTRIBUTING.md
Due: prettier

Link to MapLibre org AI policy, symlink CLAUDE.md (#769)
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier

Remove synchronous GeoJSON update tests and update iOS status documentation
  demo-app/src/androidMain/kotlin/org/maplibre/compose/demoapp/demos/SynchronousGeoJsonUpdatesDemoPreview.android.kt
  lib/maplibre-compose/src/androidDeviceTest/kotlin/org/maplibre/compose/sources/AndroidGeoJsonSourceTest.kt
  lib/maplibre-compose/src/androidDeviceTest/kotlin/org/maplibre/compose/sources/GeoJsonSourceTestActivity.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/GeoJsonSource.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/sources/GeoJsonOptionsTest.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/sources/GeoJsonSource.kt
Due: none

Remove test manifest because GeoJsonSourceTestActivity was removed
  lib/maplibre-compose/src/androidDeviceTest/AndroidManifest.xml
Due: none

Fixed app crash issues on jvm when the map is removed from the UI
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none

Add workflow to label AI-generated PRs
  .github/workflows/label-ai.yml
Due: prettier

Temporarily trigger on pull_request to test on this PR
  .github/workflows/label-ai.yml
Due: prettier

Revert temporary pull_request trigger
  .github/workflows/label-ai.yml
Due: prettier

Add workflow to label AI-generated PRs (#771)
  .github/workflows/label-ai.yml
Due: prettier

Apply suggestion from @sargunv
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none

address orientation provider review comments
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoState.kt
  lib/maplibre-compose-gms/src/androidMain/kotlin/org/maplibre/compose/gms/FusedOrientationProvider.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/location/AndroidOrientationProvider.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/location/Location.android.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/Location.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/LocationProvider.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/LocationPuck.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/Measurements.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/Orientation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/OrientationProvider.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/UserLocationState.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/location/IosLocationProvider.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/location/IosOrientationProvider.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/location/Location.ios.kt
  mise.lock
Due: none

Implement synchronous updates for GeoJSON sources (#761)
  demo-app/src/androidMain/kotlin/org/maplibre/compose/demoapp/util/Platform.android.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoMap.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/Demo.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/SynchronousGeoJsonUpdatesDemo.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/design/CardColumn.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/design/CloseButton.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/design/Heading.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/design/ListItem.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/docsnippets/Layers.kt
  docs/docs/layers.md
  gradle/libs.versions.toml
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/sources/GeoJsonSource.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/GeoJsonSource.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/sources/GeoJsonSource.kt
Due: prettier

Add orientation provider (#737)
  demo-app/src/androidMain/kotlin/org/maplibre/compose/demoapp/demos/GmsLocationDemo.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoState.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/UserLocationDemo.kt
  demo-app/src/commonMain/kotlin/org/maplibre/compose/docsnippets/Location.kt
  docs/docs/location.md
  docs/mkdocs.yml
  gradle/libs.versions.toml
  lib/maplibre-compose-gms/src/androidMain/kotlin/org/maplibre/compose/gms/FusedLocationProvider.kt
  lib/maplibre-compose-gms/src/androidMain/kotlin/org/maplibre/compose/gms/FusedOrientationProvider.kt
  lib/maplibre-compose/build.gradle.kts
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/location/AndroidLocationProvider.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/location/AndroidOrientationProvider.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/location/Location.android.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/location/LocationEngineLocationProvider.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/Location.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/LocationProvider.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/LocationPuck.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/LocationTrackingEffect.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/Measurements.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/Orientation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/OrientationProvider.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/location/UserLocationState.kt
  lib/maplibre-compose/src/desktopMain/kotlin/org/maplibre/compose/location/DesktopLocationProvider.kt
  lib/maplibre-compose/src/desktopMain/kotlin/org/maplibre/compose/location/DesktopOrientationProvider.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/location/IosLocationProvider.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/location/IosOrientationProvider.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/location/Location.ios.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/location/WebLocationProvider.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/location/WebOrientationProvider.kt
  mise.lock
Due: prettier

Update formatting tooling
  .prettierrc.json
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/ClusteredPointsDemo.kt
  docs/docs/getting-started.md
  docs/docs/layers.md
  docs/docs/styling.md
  dprint.json
  hk.pkl
  mise.lock
  mise.toml
Due: prettier

Simplify formatter commands
  dprint.json
  mise.toml
Due: prettier

fix swift format
  .editorconfig
  dprint.json
  iosApp/iosApp/iOSApp.swift
  mise.lock
  mise.toml
Due: prettier, swift

get clang-format from conda
  mise.toml
Due: none

simplify editor configs
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
Due: prettier

fix xcodes command on windows
  mise.toml
Due: none

tweak AGENTS.md
  AGENTS.md
  justfile
  mise.toml
Due: prettier

Update formatting tooling (#772)
  .editorconfig
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
  AGENTS.md
  demo-app/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/ClusteredPointsDemo.kt
  docs/docs/getting-started.md
  docs/docs/layers.md
  docs/docs/styling.md
  dprint.json
  hk.pkl
  iosApp/iosApp/iOSApp.swift
  justfile
  mise.lock
  mise.toml
Due: prettier, swift

Add Linux Nix development shell
  CONTRIBUTING.md
  flake.lock
  flake.nix
Due: prettier

Document AI disclosure format
  AGENTS.md
Due: prettier

Shorten AI disclosure example
  AGENTS.md
Due: prettier

Clarify AI disclosure example
  AGENTS.md
Due: prettier

TODO: Add Linux Nix development shell (#773)
  AGENTS.md
  CONTRIBUTING.md
  flake.lock
  flake.nix
Due: prettier

Fix Linux desktop native segfault
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

Revert "Fix Linux desktop native segfault"
  lib/maplibre-native-bindings-jni/CMakeLists.txt
Due: none

Update Compose Multiplatform to 1.10.0
  gradle/libs.versions.toml
Due: none

Update coupled Compose dependencies
  gradle/libs.versions.toml
Due: none

handle deprecations
  demo-app/build.gradle.kts
  gradle/libs.versions.toml
  lib/maplibre-compose-gms/build.gradle.kts
  lib/maplibre-compose-material3/build.gradle.kts
  lib/maplibre-compose/build.gradle.kts
Due: none

Update Compose to resolve Linux segfault (#774)
  demo-app/build.gradle.kts
  gradle/libs.versions.toml
  lib/maplibre-compose-gms/build.gradle.kts
  lib/maplibre-compose-material3/build.gradle.kts
  lib/maplibre-compose/build.gradle.kts
Due: none

Add desktop Vulkan canvas backend
  lib/maplibre-native-bindings-jni/cmake/backends/vulkan.cmake
  lib/maplibre-native-bindings-jni/cmake/target.cmake
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_vulkan_backend.cpp
Due: none

Define NDEBUG for release native builds
  lib/maplibre-native-bindings-jni/cmake/vars.cmake
Due: none

Handle Vulkan surface locking
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_vulkan_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jawt_context.hpp
Due: none

Publish desktop Vulkan variants
  .github/workflows/daily.yml
  .github/workflows/release.yml
  buildSrc/src/main/kotlin/util.kt
  docs/docs/getting-started.md
Due: prettier

Add desktop Vulkan canvas backend (#775)
  .github/workflows/daily.yml
  .github/workflows/release.yml
  buildSrc/src/main/kotlin/util.kt
  docs/docs/getting-started.md
  lib/maplibre-native-bindings-jni/cmake/backends/vulkan.cmake
  lib/maplibre-native-bindings-jni/cmake/target.cmake
  lib/maplibre-native-bindings-jni/cmake/vars.cmake
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_vulkan_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/jawt_context.hpp
Due: prettier

Fix desktop map removal teardown
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_frontend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_metal_backend.mm
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_opengl_backend.cpp
  lib/maplibre-native-bindings-jni/src/main/cpp/canvas_renderer.hpp
  lib/maplibre-native-bindings/src/desktopMain/kotlin/org/maplibre/kmp/native/map/MapCanvas.kt
Due: none
