Repository maplibre/maplibre-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swift

prettier:
  name: format markdown, json, yaml
  language: node
  entry: prettier --write
  additional_dependencies:
  - prettier

swift:
  name: format swift
  language: python
  entry: python scripts/swift-format.py

Fix benchmark scenario selection crash
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
Due: none

Update editable marker GeoJSON synchronously
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersDemo.kt
Due: none

Fix dragging lag in the editable markers demo (#1355)
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersDemo.kt
Due: none

Fix benchmark scenario selection crash (#1354)
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
Due: none

Share presentation orchestration between Compose hosts
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/map/AndroidMapView.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/ComposableMapView.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapOptions.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapPresentation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MaplibreMap.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/rememberStyleComposition.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/map/IosMapView.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/map/JsMapView.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/gljs/BrowserMapLifecycleTest.kt
  lib/maplibre-compose/src/jvmMain/kotlin/org/maplibre/compose/map/DesktopMapView.kt
  lib/maplibre-compose/src/jvmTest/kotlin/org/maplibre/compose/map/DesktopDensityPresentationTest.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapPresentation.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapView.kt
Due: none

Add recognized gestures to MapState
  docs/src/content/docs/interaction.mdx
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/GestureAnimation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/PointerGesture.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/RecognizedMapInput.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapPresentation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapRuntime.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/map/RecognizedMapInputTest.kt
Due: none

Add an Android Auto demo
  .github/workflows/job-android.yml
  .mise/bin/run-android-auto-demo
  AGENTS.md
  CONTRIBUTING.md
  demo-app/android-auto/build.gradle.kts
  demo-app/android-auto/src/androidTest/kotlin/org/maplibre/compose/demoapp/auto/PlacesTemplateTest.kt
  demo-app/android-auto/src/main/AndroidManifest.xml
  demo-app/android-auto/src/main/kotlin/org/maplibre/compose/demoapp/auto/CarMapSurface.kt
  demo-app/android-auto/src/main/kotlin/org/maplibre/compose/demoapp/auto/MapCarAppService.kt
  demo-app/android-auto/src/main/kotlin/org/maplibre/compose/demoapp/auto/PlacesScreen.kt
  demo-app/android-auto/src/main/kotlin/org/maplibre/compose/demoapp/auto/PlacesTemplate.kt
  demo-app/android-auto/src/main/res/drawable/add_24px.xml
  demo-app/android-auto/src/main/res/drawable/filter_center_focus_24px.xml
  demo-app/android-auto/src/main/res/drawable/info_24px.xml
  demo-app/android-auto/src/main/res/drawable/map_24px.xml
  demo-app/android-auto/src/main/res/drawable/remove_24px.xml
  demo-app/android-auto/src/main/res/values/strings.xml
  demo-app/android-auto/src/main/res/xml/automotive_app_desc.xml
  gradle/libs.versions.toml
  mise.toml
  settings.gradle.kts
Due: prettier

Present Android maps on caller-owned Surfaces
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/docsnippets/AndroidSurface.kt
  docs/astro.config.mts
  docs/src/content/docs/android-surface.mdx
  docs/src/content/docs/composition.mdx
  lib/maplibre-compose/src/androidDeviceTest/AndroidManifest.xml
  lib/maplibre-compose/src/androidDeviceTest/kotlin/org/maplibre/compose/map/AndroidMapPresentationTest.kt
  lib/maplibre-compose/src/androidDeviceTest/kotlin/org/maplibre/compose/map/AndroidPresentationLifecycleTest.kt
  lib/maplibre-compose/src/androidDeviceTest/kotlin/org/maplibre/compose/mlnffi/AndroidSurfaceDetachmentTest.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/map/AndroidMapPresentation.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/map/AndroidPresentationComposition.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/mlnffi/AndroidMlnFfiSurfaceController.kt
Due: none

Fix editable marker overlay input and remove demo tests
  demo-app/android-auto/build.gradle.kts
  demo-app/android-auto/src/androidTest/kotlin/org/maplibre/compose/demoapp/auto/PlacesTemplateTest.kt
  demo-app/common/build.gradle.kts
  demo-app/common/karma.config.d/ci.js
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersDemo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerInputTarget.kt
  demo-app/common/src/commonTest/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkStatsTest.kt
  gradle/libs.versions.toml
Due: none

Fix editable marker overlay input and remove demo tests (#1357)
  demo-app/android-auto/build.gradle.kts
  demo-app/android-auto/src/androidTest/kotlin/org/maplibre/compose/demoapp/auto/PlacesTemplateTest.kt
  demo-app/common/build.gradle.kts
  demo-app/common/karma.config.d/ci.js
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersDemo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerInputTarget.kt
  demo-app/common/src/commonTest/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkStatsTest.kt
  gradle/libs.versions.toml
Due: none

Qualify KDoc links to Expression.cast so Dokka resolves them
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/expressions/dsl/decision.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/expressions/dsl/types.kt
Due: none

Address review: nullable named images, nullable enum case outputs, collator defaults
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/expressions/ast/Expression.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/expressions/dsl/decision.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/expressions/dsl/image.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/expressions/dsl/types.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/LocationIndicatorLayer.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/expressions/dsl/FeatureDataTypingTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/expressions/dsl/NullabilityTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/layers/LayerPropertyRoundTripTest.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/layers/LocationIndicatorLayerComposable.kt
Due: none

build: link YouTrack blocker for iOS test link caching workaround
  buildSrc/src/main/kotlin/iosTestResources.kt
Due: none

Test native engine replacement across a density round trip
  lib/maplibre-compose/src/jvmTest/kotlin/org/maplibre/compose/map/DesktopDensityPresentationTest.kt
Due: none

Test native engine replacement across a density round trip (#1360)
  lib/maplibre-compose/src/jvmTest/kotlin/org/maplibre/compose/map/DesktopDensityPresentationTest.kt
Due: none

Replace demo benchmarks with captured synchronization and Android performance measurements
  .github/workflows/job-hygiene.yml
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/android.pbtxt
  benchmarks/browser.cjs
  benchmarks/performance.py
  benchmarks/record-window.swift
  benchmarks/run.py
  benchmarks/test_analyze.py
  demo-app/android/src/main/AndroidManifest.xml
  demo-app/common/build.gradle.kts
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/PlatformLabel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoApp.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkModels.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/CameraPlayback.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/FlyAroundScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/FrameTimeCollector.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/FrameTimeStats.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/GeoJsonLoadScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/GestureLatency.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/GestureLatencyTracker.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/LiveMarkerScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/TilePrefetch.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/TrailScenarios.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/ZoomPumpScenario.kt
  demo-app/common/src/commonTest/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkConfigTest.kt
  demo-app/common/src/iosMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/iosMain/kotlin/org/maplibre/compose/demoapp/benchmark/PlatformLabel.kt
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/TilePrefetch.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/PlatformLabel.kt
  demo-app/common/src/maplibreNativeMain/kotlin/org/maplibre/compose/demoapp/benchmark/TilePrefetch.kt
  mise.lock
  mise.toml
Due: prettier, swift

Validate complete metric records and isolate canceled benchmark runs
  benchmarks/analyze.py
  benchmarks/performance.py
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoApp.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkModels.kt
  demo-app/common/src/commonTest/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkConfigTest.kt
Due: none

Identify measurement frames and preserve complete Android metric batches
  CONTRIBUTING.md
  benchmarks/analyze.py
  benchmarks/browser.cjs
  benchmarks/performance.py
  benchmarks/run.py
  benchmarks/test_analyze.py
  benchmarks/test_performance.py
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
Due: prettier

Accept sparse input recordings without forcing benchmark redraws
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/test_analyze.py
Due: prettier

Decode browser benchmark query parameters
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
Due: none

Report input responses observed in different capture frames
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/test_analyze.py
Due: prettier

Serialize input synchronization counts in benchmark reports
  benchmarks/analyze.py
  benchmarks/test_analyze.py
Due: none

Install the benchmark runner through the GitHub tool backend
  mise.lock
  mise.toml
Due: none

Measure native process CPU and keep demo unit tests on the JVM
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/performance.py
  benchmarks/run.py
  benchmarks/test_analyze.py
  benchmarks/test_performance.py
  demo-app/common/build.gradle.kts
  demo-app/common/src/iosMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jvmTest/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkConfigTest.kt
Due: prettier

Require the demo JVM suite to discover its benchmark tests
  demo-app/common/build.gradle.kts
Due: none

Update native FFI to 0.202609.1
  gradle/libs.versions.toml
Due: none

Isolate benchmark launches and validate performance controls
  benchmarks/README.md
  benchmarks/android.pbtxt
  benchmarks/browser.cjs
  benchmarks/performance.py
  benchmarks/record-window.swift
  benchmarks/run.py
  benchmarks/test_analyze.py
  demo-app/common/build.gradle.kts
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoApp.kt
  demo-app/common/src/jvmTest/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkConfigTest.kt
Due: prettier, swift

Filter window metrics to the trace interval and hash selected artifacts
  benchmarks/README.md
  benchmarks/performance.py
  benchmarks/run.py
  benchmarks/test_analyze.py
  benchmarks/test_performance.py
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
Due: prettier

Handle external servers, animation scale, and sparse benchmark captures
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/performance.py
  benchmarks/run.py
  benchmarks/test_analyze.py
Due: prettier

Update native FFI to 0.202609.1 (#1364)
  gradle/libs.versions.toml
Due: none

Replace demo benchmarks with captured synchronization and performance measurements (#1363)
  .github/workflows/job-hygiene.yml
  CONTRIBUTING.md
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/android.pbtxt
  benchmarks/browser.cjs
  benchmarks/performance.py
  benchmarks/record-window.swift
  benchmarks/run.py
  benchmarks/test_analyze.py
  benchmarks/test_performance.py
  demo-app/android/src/main/AndroidManifest.xml
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/PlatformLabel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoApp.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkModels.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/CameraPlayback.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/FlyAroundScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/FrameTimeCollector.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/FrameTimeStats.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/GeoJsonLoadScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/GestureLatency.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/GestureLatencyTracker.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/LiveMarkerScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/TilePrefetch.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/TrailScenarios.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/ZoomPumpScenario.kt
  demo-app/common/src/iosMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/iosMain/kotlin/org/maplibre/compose/demoapp/benchmark/PlatformLabel.kt
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/TilePrefetch.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/PlatformLabel.kt
  demo-app/common/src/maplibreNativeMain/kotlin/org/maplibre/compose/demoapp/benchmark/TilePrefetch.kt
  mise.lock
  mise.toml
Due: prettier, swift

Polish guides and editable markers demo for v0.16
  demo-app/common/src/commonMain/composeResources/files/SpeechBubbleShape.LICENSE
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/Demo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersDemo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerAppearance.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerEditor.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerInputTarget.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerMotion.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerTrashTarget.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/EditableMarkersDemo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/EditableMarkersPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/EditableMarkersState.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerEditor.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerInput.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerRendering.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerTrash.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/SpeechBubbleShape.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/docsnippets/Location.kt
  docs/astro.config.mts
  docs/src/content/docs/android-surface.mdx
  docs/src/content/docs/composition.mdx
  docs/src/content/docs/controls.mdx
  docs/src/content/docs/expressions.mdx
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/images.mdx
  docs/src/content/docs/interaction.mdx
  docs/src/content/docs/layers.mdx
  docs/src/content/docs/location.mdx
  docs/src/content/docs/snapshotter.mdx
Due: none

Polish guides and editable markers demo for v0.16 (#1371)
  demo-app/common/src/commonMain/composeResources/files/SpeechBubbleShape.LICENSE
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/Demo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersDemo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/EditableMarkersPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerAppearance.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerEditor.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerInputTarget.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerMotion.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/MarkerTrashTarget.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/EditableMarkersDemo.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/EditableMarkersPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/EditableMarkersState.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerEditor.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerInput.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerRendering.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/MarkerTrash.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/demos/editablemarkers/SpeechBubbleShape.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/docsnippets/Location.kt
  docs/astro.config.mts
  docs/src/content/docs/android-surface.mdx
  docs/src/content/docs/composition.mdx
  docs/src/content/docs/controls.mdx
  docs/src/content/docs/expressions.mdx
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/images.mdx
  docs/src/content/docs/interaction.mdx
  docs/src/content/docs/layers.mdx
  docs/src/content/docs/location.mdx
  docs/src/content/docs/snapshotter.mdx
Due: none

fix(ci): verify platform coverage before reusing tier results
  .github/workflows/ci-full.yml
  .github/workflows/ci-ready.yml
  .github/workflows/ci.yml
  .mise/tasks/ci/verdict
  ci/plan.py
  ci/plan_test.py
Due: prettier

fix(docs): align Markdown renderer with Astro peer dependency
  docs/package.json
  pnpm-lock.yaml
Due: prettier

build(deps): bump Kotlin 2.4.20 with AGP, Gradle, and Xcode
  .github/actions/setup-ci-deps/action.yml
  .mise/bin/sync-android-packages
  .xcode-version
  buildSrc/src/main/kotlin/android-library-conventions.gradle.kts
  buildSrc/src/main/kotlin/iosTestResources.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: prettier

Path conditions:
  prettier: any of: \.(md|markdown|mdown)$, \.json$, \.(yaml|yml)$
  swift: any of: \.swift$
