Repository maplibre/maplibre-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swift

prettier:
  name: format markdown, json, yaml
  language: node
  entry: prettier --write
  additional_dependencies:
  - prettier

swift:
  name: format swift
  language: python
  entry: python scripts/swift-format.py

Read the camera permit settings under the fence
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/camera/internal/CameraInputAuthority.kt
Due: none

Extend the benchmark harness for jank work
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/performance.py
  benchmarks/run.py
  benchmarks/test_analyze.py
  benchmarks/test_performance.py
  demo-app/common/build.gradle.kts
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkFrameRecorder.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkModels.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkStyles.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/BenchmarkContent.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/BenchmarkScenarioSpec.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/CameraScenarios.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/GeojsonUpdateScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/ImagesScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/PaddingScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/ResizeScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/StyleComplexScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/StyleMutateScenario.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/StyleSwapScenario.kt
Due: prettier

Stamp frame events at emission and verify logged params
  benchmarks/analyze.py
  benchmarks/test_analyze.py
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkFrameRecorder.kt
Due: none

Support custom geometry sources in the browser
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  lib/maplibre-compose/build.gradle.kts
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/CustomSources.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/SourceHandle.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleBinding.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/gljs/GlJsTypes.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/gljs/GlJsVectorTilePbf.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/gljs/GlJsVectorTiles.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/style/GlJsCustomGeometryAttachment.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/style/GlJsProtocolTileAttachment.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/style/GlJsStyleBinding.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/sources/BrowserCustomGeometrySourceTest.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/sources/BrowserCustomVectorTileSourceTest.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/sources/CustomGeometrySourceRenderingTest.kt
Due: none

Document tile library version alignment during GL JS upgrades
  .agents/skills/bump-maplibre-gl-js/SKILL.md
  gradle/libs.versions.toml
Due: prettier

Describe custom geometry platform behavior without encoding details
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/CustomSources.kt
Due: none

Support custom geometry sources in the browser (#1470)
  .agents/skills/bump-maplibre-gl-js/SKILL.md
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  lib/maplibre-compose/build.gradle.kts
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/CustomSources.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/SourceHandle.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleBinding.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/gljs/GlJsTypes.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/gljs/GlJsVectorTilePbf.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/gljs/GlJsVectorTiles.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/style/GlJsCustomGeometryAttachment.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/style/GlJsProtocolTileAttachment.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/style/GlJsStyleBinding.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/sources/BrowserCustomGeometrySourceTest.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/sources/BrowserCustomVectorTileSourceTest.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/sources/CustomGeometrySourceRenderingTest.kt
Due: prettier

Fix benchmark review findings in measurement and launch setup
  benchmarks/README.md
  benchmarks/browser.cjs
  benchmarks/compare.py
  benchmarks/performance.py
  benchmarks/run.py
  benchmarks/test_compare.py
  benchmarks/test_performance.py
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/ComposeBenchmarkDriver.kt
Due: prettier

Remove benchmark provenance and comparison gates
  benchmarks/README.md
  benchmarks/browser.cjs
  benchmarks/compare.py
  benchmarks/performance.py
  benchmarks/run.py
  benchmarks/test_compare.py
  benchmarks/test_performance.py
Due: prettier

Add comparable map performance workloads (#1469)
  benchmarks/README.md
  benchmarks/analyze.py
  benchmarks/android.pbtxt
  benchmarks/browser.cjs
  benchmarks/cases.json
  benchmarks/compare.py
  benchmarks/config.py
  benchmarks/fixtures/LICENSE.md
  benchmarks/fixtures/OFL.txt
  benchmarks/performance.py
  benchmarks/prepare_fixtures.py
  benchmarks/record-window.swift
  benchmarks/run.py
  benchmarks/test_analyze.py
  benchmarks/test_compare.py
  benchmarks/test_config.py
  benchmarks/test_fixtures.py
  benchmarks/test_performance.py
  demo-app/common/build.gradle.kts
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/appleMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/DemoPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkFrameRecorder.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkModels.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPanel.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkStyles.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/ComposeBenchmarkDriver.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/scenarios/BenchmarkWorkload.kt
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  mise.lock
  mise.toml
Due: prettier, swift

Add classic Android SDK benchmark implementation
  benchmarks/README.md
  benchmarks/config.py
  benchmarks/run.py
  benchmarks/test_config.py
  demo-app/common/build.gradle.kts
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/ClassicAndroidBenchmark.kt
  demo-app/common/src/appleMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkFrameRecorder.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkModels.kt
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  gradle/libs.versions.toml
Due: prettier

Add classic Android SDK to the benchmark matrix (#1472)
  benchmarks/README.md
  benchmarks/config.py
  benchmarks/run.py
  benchmarks/test_config.py
  demo-app/common/build.gradle.kts
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/ClassicAndroidBenchmark.kt
  demo-app/common/src/appleMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkFrameRecorder.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkMap.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkModels.kt
  demo-app/common/src/jsMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  demo-app/common/src/jvmMain/kotlin/org/maplibre/compose/demoapp/benchmark/BenchmarkPlatform.kt
  gradle/libs.versions.toml
Due: prettier

Wait for native updates before repainting transitions
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapSession.kt
  lib/maplibre-compose/src/maplibreNativeTest/kotlin/org/maplibre/compose/map/MlnFfiMapRepaintTest.kt
Due: none

Check bounded rendering instead of exact frame scheduling
  lib/maplibre-compose/src/maplibreNativeTest/kotlin/org/maplibre/compose/map/MlnFfiMapRepaintTest.kt
Due: none

Wait for native updates before repainting transitions (#1473)
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapSession.kt
  lib/maplibre-compose/src/maplibreNativeTest/kotlin/org/maplibre/compose/map/MlnFfiMapRepaintTest.kt
Due: none

refactor: apply committed style revisions without presentation replay
  investigation/style-reconciliation-design.md
  investigation/validation.json
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapAdapter.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapPresentation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapStyleAuthority.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleLoadTracker.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/map/MapPresentationTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleLoadTrackerTest.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/map/GlJsMapSession.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/gljs/BrowserMapStyleStateTest.kt
  lib/maplibre-compose/src/jsTest/kotlin/org/maplibre/compose/map/BrowserStyleFailureTest.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapSession.kt
Due: prettier

refactor: derive style revisions from committed composition nodes
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/layers/StyleCompositionLifecycleTest.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/BackgroundLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/CircleLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/ColorReliefLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/ComposeLocationIndicator.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/FillExtrusionLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/FillLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/HeatmapLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/HillshadeLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/LayerNode.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/LayerPropertyCompiler.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/LayerPropertyImages.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/LineLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/RasterLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/SymbolLayer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapSnapshotter.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/GeoJsonSource.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/Source.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/SourceReferenceEffect.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/DesiredStyleRevision.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/ImageManager.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/LayerNode.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/MapNodeApplier.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/ReferenceCounter.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/SourceManager.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleImageCache.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleInstallations.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleNode.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleReconciler.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/rememberStyleComposition.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/ImageManagerTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleImageCacheTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/layers/SymbolLayerCompositionTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/style/ImageManagerPainterTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/style/PainterRenderingTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/style/StyleCommitTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/testing/StyleComposition.kt
Due: none

docs: record declarative style redesign and validation
  investigation/style-reconciliation-design.md
  investigation/validation.json
Due: prettier

fix: release image requests from abandoned composition
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleImageCache.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/style/StyleCommitTest.kt
Due: none

test: consolidate style coverage around observable behavior
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/camera/CameraAnimationTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/expressions/dsl/PainterImageTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/SourceInstallationTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleCompositionOrderTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleDefinitionAndIdentityTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleImageCacheTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleNodeTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StylePropertyBatchTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/layers/AnchorPlacementTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/layers/SymbolLayerCompositionTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/map/PainterStyleImageTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/style/StyleCommitTest.kt
  lib/maplibre-compose/src/maplibreNativeTest/kotlin/org/maplibre/compose/mlnffi/FileUrlTest.kt
Due: none

fix: ignore style invalidation during composition setup
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/layers/StyleCompositionLifecycleTest.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/rememberStyleComposition.kt
Due: none

fix: let native transitions advance during layer reads
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapRuntime.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleBinding.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/style/StyleLayerSummariesTest.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/style/MlnFfiStyleBinding.kt
Due: none

fix: synchronize shared style image cache
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleImageCache.kt
  lib/maplibre-compose/src/jvmTest/kotlin/org/maplibre/compose/style/StyleImageCacheConcurrencyTest.kt
Due: none

fix: drain native events between synchronous owner calls
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapRuntimeLoop.kt
  lib/maplibre-compose/src/maplibreNativeTest/kotlin/org/maplibre/compose/map/MlnFfiMapRuntimeLoopTest.kt
Due: none

Apply committed style content to the engine before presentation publication
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/map/StyleBeforePresentationTest.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapPresentation.kt
Due: none

fix: let native transitions advance during layer reads (#1475)
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapRuntime.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleBinding.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/style/StyleLayerSummariesTest.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapRuntimeLoop.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/style/MlnFfiStyleBinding.kt
  lib/maplibre-compose/src/maplibreNativeTest/kotlin/org/maplibre/compose/map/MlnFfiMapRuntimeLoopTest.kt
Due: none

Remove obsolete source mutation paths and redundant composition tests
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/Layer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/CustomSources.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/GeoJsonSource.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/ImageSource.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/RasterDemTileSource.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/RasterTileSource.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/Source.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/sources/VectorTileSource.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/DesiredStyleRevision.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleCompositionOwner.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleInstallations.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleNode.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/map/MapPresentationTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/sources/CustomSourceDefinitionTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleReconcilerTest.kt
  lib/maplibre-compose/src/liveMapTest/kotlin/org/maplibre/compose/layers/SymbolLayerCompositionTest.kt
Due: none

Delete investigation/committed-style-owner.md
  investigation/committed-style-owner.md
Due: prettier

Let overlay gestures cooperate with shared map input
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/interaction/internal/InputTestHost.kt
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/interaction/internal/KeyAndRotaryInputTest.kt
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/interaction/internal/PointerInputTest.kt
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/map/MapOverlayInputTest.kt
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/map/MlnFfiMapCompositionTest.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/InteractionBindings.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/GestureMath.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/InputModifier.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/KeyInput.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/PointerGesture.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/ResolvedBindings.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapInputHost.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MaplibreMap.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/interaction/internal/InputConfigurationTest.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/map/IosMapView.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/map/JsMapView.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapView.kt
Due: none

Simplify map presentation ownership and input tests
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/map/MapOverlayInputTest.kt
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/map/MlnFfiMapCompositionTest.kt
  lib/maplibre-compose/src/androidMain/kotlin/org/maplibre/compose/map/AndroidMapView.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/InputModifier.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/ComposableMapView.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/ComposeMapPresentation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapInputHost.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapPresentation.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MaplibreMap.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/interaction/internal/InputConfigurationTest.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/map/AppleMapPresentation.kt
  lib/maplibre-compose/src/iosMain/kotlin/org/maplibre/compose/map/IosMapView.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/map/GlJsMapPresentation.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/map/JsMapView.kt
  lib/maplibre-compose/src/jvmMain/kotlin/org/maplibre/compose/map/DesktopMapView.kt
  lib/maplibre-compose/src/macosMain/kotlin/org/maplibre/compose/map/MacosMapView.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiComposeMapPresentation.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/map/MlnFfiMapPresentation.kt
Due: none

Wait for map gesture recognition before taking input ownership
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/interaction/internal/ClickInputTest.kt
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/interaction/internal/TransformInputTest.kt
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/map/MlnFfiMapCompositionTest.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/InteractionBindings.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/InputModifier.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/KeyInput.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/PointerGesture.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/PointerPairGesture.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/PointerTransform.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapRuntime.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/interaction/internal/PointerPairGestureTest.kt
  lib/maplibre-compose/src/iosTest/kotlin/org/maplibre/compose/map/AppleMapPresentationTest.kt
Due: none

Reuse prepared layer state across declarative updates
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/Layer.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/LayerDefinition.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/layers/LayerPropertyCompiler.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/LayerNode.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleCompositionOwner.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/LayerNodeTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleCompositionOwnerTest.kt
Due: none

Preserve completed taps when another handler claims the contact
  lib/maplibre-compose/src/androidJvmTest/kotlin/org/maplibre/compose/map/MlnFfiMapCompositionTest.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/InputModifier.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/PointerGesture.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/interaction/internal/PointerInputConsumption.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MaplibreMap.kt
Due: none

Replace style images in place instead of removing and re-adding
  benchmarks/README.md
  demo-app/common/src/androidMain/kotlin/org/maplibre/compose/demoapp/benchmark/ClassicAndroidBenchmark.kt
  demo-app/common/src/commonMain/kotlin/org/maplibre/compose/demoapp/benchmark/ComposeBenchmarkDriver.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapRuntime.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapSnapshotter.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapStyleAuthority.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/map/MapStyleResources.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleBinding.kt
  lib/maplibre-compose/src/commonMain/kotlin/org/maplibre/compose/style/StyleReconciler.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/map/MapPresentationTest.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/RecordingStyleBinding.kt
  lib/maplibre-compose/src/commonTest/kotlin/org/maplibre/compose/style/StyleReconcilerTest.kt
  lib/maplibre-compose/src/jsMain/kotlin/org/maplibre/compose/style/GlJsStyleBinding.kt
  lib/maplibre-compose/src/maplibreNativeMain/kotlin/org/maplibre/compose/style/MlnFfiStyleBinding.kt
Due: prettier

Path conditions:
  prettier: any of: \.(md|markdown|mdown)$, \.json$, \.(yaml|yml)$
  swift: any of: \.swift$
